<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401783161849-j91hgblh7k73o7vfmgf95i6apsocipf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401783161849-j91hgblh7k73o7vfmgf95i6apsocipf6</string>
	<key>API_KEY</key>
	<string>AIzaSyCKun2cveAcejwIFPGUwWlwclcNKYy8sZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>401783161849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cerebrum.CoreQuest</string>
	<key>PROJECT_ID</key>
	<string>core-quest</string>
	<key>STORAGE_BUCKET</key>
	<string>core-quest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401783161849:ios:4681040b8abfe8e010b328</string>
</dict>
</plist>